<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431821592737-v36ei4ppru73c54olqjfhlbs22d8cfdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431821592737-v36ei4ppru73c54olqjfhlbs22d8cfdl</string>
	<key>API_KEY</key>
	<string>AIzaSyD5L7BTIFHt1CIVXyBR9h_isVswQ6ETWgY</string>
	<key>GCM_SENDER_ID</key>
	<string>431821592737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nwmsu.Group-02-Project</string>
	<key>PROJECT_ID</key>
	<string>nwmsuemployementportal</string>
	<key>STORAGE_BUCKET</key>
	<string>nwmsuemployementportal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431821592737:ios:036ebacb3ee9dcd70678e0</string>
	<key>DATABASE_URL</key>
	<string>https://nwmsuemployementportal-default-rtdb.firebaseio.com</string>
</dict>
</plist>